# configuration files
config.json
temp.json
temp/*
.vscode/settings.json
.config/user_uploads
.config/themes
.config/plugins

# virtual environment directory
venv
.venv/
.venv
# compiled files
build/
dist/
*.dll
*.exe

# Python bytecode
__pycache__/
.cache-*
*.pyc

# backup files
*copy.*
!copy.png

# misc
.logs/*
.DS_Store
tests/*
data.json
