flask
flask_socketio
Flask-Minify==0.43
gevent
win10toast
keyboard==0.13.5
pyautogui==0.9.53
pywin32
pycaw
pillow
pyaudio
webcolors==1.12
deep_translator
mss
pyperclip
colormath==3.0.0
cputil
gputil
pynvml
spotipy
simple-websocket
deepdiff
pystray
tk
easygui
qrcode
pywebview
cx_Freeze
pathspec
python-vlc
obs-websocket-py
pydub