Flask==3.0.3
Flask-SocketIO==5.4.1
Flask-Minify==0.48
numpy==2.1.2
gevent==24.10.3
win10toast; sys_platform == 'win32'
notify_py==0.3.43
keyboard==0.13.5; sys_platform == 'win32'
PyAutoGUI==0.9.54
pywin32; sys_platform == 'win32'
pycaw==20240210; sys_platform == 'win32'
pulsectl==24.11.0; sys_platform == 'linux'
pillow==11.0.0
PyAudio==0.2.14
webcolors==24.11.1
deep-translator
mss==10.0.0
pyperclip==1.9.0
GPUtil==1.4.0
psutil==6.1.0
pynvml==12.0.0
spotipy==2.24.0
simple-websocket==1.1.0
pystray
pycairo
PyGObject
customtkinter==5.2.2
easygui==0.98.3
qrcode==8.0
pywebview==5.3.2
cx_Freeze; sys_platform == 'win32'
pathspec==0.12.1
python-vlc==3.0.21203
nava==0.7
obs-websocket-py==1.0
tqdm==4.67.1
pydub==0.25.1
colorama==0.4.6
