{% if "webdeck_foldername" in arg['TYPE'] %}
    <!-- lister tous les dossiers -->
    <div class="webdeck_foldername_ALL">
        {% for key in config["front"]["buttons"] %}
            <div class="webdeck_foldername">
                <input class="{{black_theme}}" type="radio" name="file" value="{{ key }}" >
                <label for="{{ key }}">{{ key }}</label>
            </div>
        {% endfor %}
    </div>
{% elif "file" in arg['TYPE'] or "path-windowsapp" in arg['TYPE'] %}
    <div class="filepath">
        <button class="filepath">Select your file</button>
        <input type="text" class="filepath {{black_theme}}" placeholder="No file chosen"></input>
    </div>
{% elif "url" in arg['TYPE'] %}
    <input class="{{black_theme}}" type="url" name="{{file}}" id="url_{{arg_modal_ID}}" placeholder="https://example.com">
{% elif "number" in arg['TYPE'] %}
    {% set string_list = arg['TYPE'].split(" ") %}
    {% set number_list = [] %}
    {% for i in string_list %}
        {% if i.startswith('number') %}
            {% set number_list = eval(i.replace('number', '')) %}
            {% set min = number_list[0] %}
            {% set max = number_list[1] %}
            {% if min.startswith('-') or max.startswith('-') %}
                <input class="{{black_theme}}" type="number" name="{{file}}" min="{{min}}" max="{{max}}" >
            {% else %}
                <input class="{{black_theme}}" type="number" pattern="[0-9]*" oninput="this.value = this.value.replace(/[^0-9]/g, '');" name="{{file}}" min="{{min}}" max="{{max}}" >
            {% endif %}
        {% endif %}
    {% endfor %}
{% elif "longtext" in arg['TYPE'] %}
    <textarea class="{{black_theme}}" name="{{file}}" rows="5" cols="33" ></textarea>
{% elif "text" in arg['TYPE'] %}
    <input class="{{black_theme}}" type="text" name="{{file}}" size="10" >
{% elif "dropdown" in arg['TYPE'] %}
    {# lister toutes les options #}
    <select name="{{file}}" >
        {% for option in arg['options'] %}
            {% if option[config.settings.language] %}
                {% set option_name = option[config.settings.language] %}
            {% elif arg["en"] %}
                {% set option_name = option["en"] %}
            {% else %}
                {% set option_name = "option_name is missing!" %}
            {% endif %}
            <option value="{{ option['ID'] }}"> {{ option_name }} </option>
        {% endfor %}
    </select>
{% elif "path-soundboard-audio" in arg['TYPE'] %}
    <input class="{{black_theme}}" id="audio-input_{{arg_modal_ID}}" type="file" name="{{file}}" accept=".mp3">
    <script>
        document.getElementById('audio-input_{{arg_modal_ID}}').addEventListener('change', function() {
            console.log('audio-input_{{arg_modal_ID}} just got changed!');
            file_input_change('audio-input_{{arg_modal_ID}}');
        });
    </script>
{% endif %}