{% if "webdeck_foldername" in arg['TYPE'] %}
    <!-- list all folders -->
    <div class="webdeck_foldername_ALL">
        {% for key in config["front"]["buttons"] %}
            <div class="webdeck_foldername">
                <input class="{{black_theme}}" type="radio" name="file" value="{{ key }}" >
                <label for="{{ key }}">{{ key }}</label>
            </div>
        {% endfor %}
    </div>
{% elif "file" in arg['TYPE'] or "path-windowsapp" in arg['TYPE'] %}
    <div class="filepath">
        <button class="filepath"> {{text['select_your_file']}} </button>
        <input type="text" class="filepath {{black_theme}}" placeholder="{{text['no_file_chosen']}}">
    </div>
{% elif "url" in arg['TYPE'] %}
    <input class="{{black_theme}}" type="url" name="{{file}}" id="url_{{arg_modal_ID}}" placeholder="https://example.com">
{% elif "number" in arg['TYPE'] %}
    {% set string_list = arg['TYPE'].split(" ") %}
    {% set number_list = [] %}
    {% for i in string_list %}
        {% if i.startswith('number') %}
            {% set number_list = eval(i.replace('number', '')) %}
            {% set min = number_list[0] %}
            {% set max = number_list[1] %}
            {% if min.startswith('-') or max.startswith('-') %}
                <input class="{{black_theme}}" type="number" name="{{file}}" min="{{min}}" max="{{max}}" >
            {% else %}
                <input class="{{black_theme}}" type="number" pattern="[0-9]*" oninput="this.value = this.value.replace(/[^0-9]/g, '');" name="{{file}}" min="{{min}}" max="{{max}}" >
            {% endif %}
        {% endif %}
    {% endfor %}
{% elif "longtext" in arg['TYPE'] or "textarea" in arg['TYPE'] %}
    <textarea class="{{black_theme}}" name="{{file}}" rows="5" cols="33" ></textarea>
{% elif "usage-title-text" in arg['TYPE'] and "input" in arg['TYPE'] %}
    <input id="usage-title-input_{{arg_modal_ID}}" class="{{black_theme}}" type="text" name="{{file}}" size="10"
        {% if arg['value'] %}
            value="{{arg['value']}}"
        {% endif %}
    >
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var usageInput_{{arg_modal_ID}} = document.getElementById('usage-title-input_{{arg_modal_ID}}');
                
            if (usageInput_{{arg_modal_ID}}) {
                var usagePreview_{{arg_modal_ID}} = document.getElementById('usage-title_{{arg_modal_ID}}');
                
                var text_{{arg_modal_ID}} = usageInput_{{arg_modal_ID}}.value;
                usagePreview_{{arg_modal_ID}}.textContent = text_{{arg_modal_ID}};
                button_{{arg_modal_ID}}.name = text_{{arg_modal_ID}};
            }
        });
    </script>
{% elif "text" in arg['TYPE'] and "input" in arg['TYPE'] %}
    <input class="{{black_theme}}" type="text" name="{{file}}" size="10"
        {% if arg['value'] %}
            value="{{arg['value']}}"
        {% endif %}
    >
{% elif "dropdown" in arg['TYPE'] %}
    {# lister toutes les options #}
    <select name="{{file}}" >
        {% for option in arg['options'] %}
            {% if option[language] %}
                {% set option_name = option[language] %}
            {% elif arg["en"] %}
                {% set option_name = option["en"] %}
            {% else %}
                {% set option_name = "option_name is missing!" %}
            {% endif %}
            <option value="{{ option['ID'] }}"> {{ option_name }} </option>
        {% endfor %}
    </select>
{% elif "path-soundboard-audio" in arg['TYPE'] %}
    <input class="{{black_theme}} audio-input" id="audio-input_{{arg_modal_ID}}" type="file" name="file" accept=".mp3">
{% elif "webdeck_available_gpus" in arg['TYPE'] %}
    <select name="{{file}}" >
        {% for gpu, usage in usage_example['gpus'].items() %}
            {% if usage['name'] %}
                {% set gpu = usage['name'] %}
            {% endif %}
            <option value="{{ gpu }}"> {{ gpu }} </option>
        {% endfor %}
    </select>
{% elif "disk-letter" in arg['TYPE'] %}
    <select id="disk-letter_{{arg_modal_ID}}" name="{{file}}" >
        {% for disk, usage in usage_example['disks'].items() %}
            <option value="{{disk}}"
                {% if disk == "C" %}
                    selected
                {% endif %}
            > {{ disk }} </option>
        {% endfor %}
    </select>
{% endif %}