/* Désactiver le zoom */
html, body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  user-scalable: no;
  -moz-user-select: none; /* Empêcher la sélection de texte sur Firefox */
  -webkit-user-select: none; /* Empêcher la sélection de texte sur Chrome et Safari */
  -ms-user-select: none; /* Empêcher la sélection de texte sur IE */
  user-select: none; /* Empêcher la sélection de texte sur les navigateurs modernes */

  overflow-y: hidden;
  font-family: "Lato", sans-serif;
}

body {
  background-color: rgb(20,20,20);
  transition-delay: 250ms;
  transition-property: margin-right;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  display: flex;
}

#loading-screen {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(20,20,20);
  color: #fbfbfd;
  text-align: center;
  padding-top: 30vh;
  font-size: 3rem;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}
#loading-screen.hidden {
  opacity: 0;
}


.invisible {
  display: none !important;
}

.bold {
  font-weight: bold;
}

div.void {
  display: block;
  margin-top: 0em;
  margin-block-end: 1em;
  width: 132px;
  height: 153.79px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

div.buttons-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: auto;
  /*border: 1px solid rgba(253, 252, 252, 0.1);*/
  border-radius: 20px;
}


div.all-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
}

div.one-button {
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.button, .button:focus {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1.25rem;
  box-shadow: rgb(255, 255, 255) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  justify-content: center; /* alignement vertical */
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 10;
  min-height: 7rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 7rem;
}
.button p {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

@keyframes animation {
  100% {background-color: rgb(255, 255, 255);}
  100% {background-color: none;}
}

.button:hover {
  transform: translateY(-1px);
  animation-name: animation;
  animation-duration: 1s;
}

.activee, .button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}


p.buttontext {
  color: #b3b3b3;
  margin-top: -7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  line-height: 1.4;
  display: block;
}


div.usage {
  max-height: 80px;
  max-width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: -25px;
}
div.usage-title {
  display: block;
  margin-top: -30px;
  max-height: 50px;
  max-width: 120px;
  width: 120;
  font-weight: bolder;
}
div.usage-value {
  display: block;
  margin-top: 10px;
  max-height: 50px;
  max-width: 120px;
  font-weight: bolder;
}




html {
  /* scrollbar firefox */
  scrollbar-color: rgb(1, 1, 1) rgb(110, 110, 110);
}

/* Note: The -webkit-scrollbar is not supported by Firefox or IE and Edge. */

::-webkit-scrollbar {
  /* width */
  display: none;
}

:-webkit-full-screen #fullscreen-btn {
  display: block;
}

:-moz-full-screen #fullscreen-btn {
  display: block;
}

:-ms-fullscreen #fullscreen-btn {
  display: block;
}

:full-screen #fullscreen-btn {
  display: block;
}


/* Cacher la modal par défaut */
.modal-container,
.addbutton-modal-container,
.addbutton-modal-container-args,
.editbutton-modal-container {
  display: none;
  animation-name: modalcontentopen;
  animation-duration: 0.4s;
  z-index: 3;
  color: black;
}
.modal-container.black-theme,
.addbutton-modal-container.black-theme,
.addbutton-modal-container-args.black-theme,
.editbutton-modal-container.black-theme {
  color: #fbfbfd!important;
}

@keyframes modalcontentopen {
  from {
    margin-top: -100px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}


/* Afficher la modal en position fixe et couvrant toute la page */
.modal-container, .addbutton-modal-container, .addbutton-modal-container-args, .editbutton-modal-container {
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
}

/* Animer la modal */
.modal-container, .addbutton-modal-container, .addbutton-modal-container-args, .editbutton-modal-container {
  display: none;
  transition: top .5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  top:0;
}


/* Centrer le contenu de la modal */
.modal-content, .addbutton-modal-content,  .addbutton-modal-content-args, .editbutton-modal-content {
  margin: auto;
  width:90%;
  height:90%;
  background-color:#fbfbfd!important;
  padding:20px;
  box-shadow:0px .5rem .5rem rgba(0,0,0,.2);
  border-radius: 40px;
  overflow-y: scroll;
}

.modal-content.black-theme,
.addbutton-modal-content.black-theme, 
.addbutton-modal-content-args.black-theme,
.editbutton-modal-content.black-theme {
  background-color: #232323!important;
}
  
.modal-header, .addbutton-modal-header, .addbutton-modal-header-args, .editbutton-modal-header {
  /* border: 1px solid rgb(0, 0, 0); */
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modal-main, .add-button-modal-main, .add-button-modal-main-args {
  /* border: 1px solid rgb(0, 0, 0); */
  border-radius: 20px;
}

ul {
  list-style-type: none;
  margin-left: -20px;
  margin-bottom: -10px;
}

h1.modal-header, h1.add-button-modal-header, h1.add-button-modal-header-args {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}
h1.config-title {
  font-weight: bold;
  margin: 0;
  margin-bottom: 7px;
}

form.form, div.fakeform {
  width: 132px;
  height: 153.79px;
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

div.fakeform-container {
  background-color: rgb(20,20,20);
  border: 1px solid rgb(221 221 221);
  border-radius: 15px;
  padding: 5;
  margin-bottom: 10;
  margin-right: 20;
  width: fit-content;
}
div.fakeform-container.black-theme {
  border: 1px solid #515151!important;
}

.modal-close, .addbutton-modal-close, .addbutton-modal-close-args, .editbutton-modal-close {
  color:black;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  margin-bottom: 23.5px;
  cursor: pointer;
}
.modal-close:hover,
.modal-close:focus,
.addbutton-modal-close:hover,
.addbutton-modal-close:focus,
.addbutton-modal-close-args:hover,
.addbutton-modal-close-args:focus,
.editbutton-modal-close:hover,
.editbutton-modal-close:focus {
  color:red;
  text-decoration:none;
  cursor:pointer;
}

.modal-button, .addbutton-modal-button, .addbutton-modal-button-args, .editbutton-modal-button {
  margin: 0;
}


/* MODAL */
.modal-content h2, .addbutton-modal-content h2, .addbutton-modal-content-args h2, .editbutton-modal-content h2 {
  margin-top: 0;
  font-size: 28px;
}

.modal-content p, .addbutton-modal-content p, .addbutton-modal-content-args p, .editbutton-modal-content p {
  font-size: 12px;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  line-height: 1.4;
  margin-top: 0;
}

/* FORM */
form#config-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.setting-category {
  margin-bottom: 7;
}
.setting {
  margin-bottom: 15px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#config-form > div.setting-category.settings > div.setting.spotify-api {
  margin-bottom: 25px;
}
.gridsize-container {
  display: flex;
  flex-direction: row;
}
#gridsize-width, #gridsize-height {
  width: 75px;
}

/* style pour le conteneur principal */
.config-container, .addbutton-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  margin-top: 20px;
}
.config-container.black-theme, .addbutton-container.black-theme {
  border: 1px solid #232323!important;
  box-shadow: 0 0 10px #000000!important;
}

/* style pour les labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
/* style pour les champs de texte */
input[type="text"],
input[type="url"],
input[type="password"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  /* margin-bottom: 10px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
}
input[type="text"].black-theme,
input[type="url"].black-theme,
input[type="password"].black-theme,
input[type="number"].black-theme,
textarea.black-theme {
  border: 1px solid #494949!important;
  background-color: #333333!important;
}

input[type="text"].black-theme::placeholder,
input[type="url"].black-theme::placeholder,
input[type="password"].black-theme::placeholder,
input[type="number"].black-theme::placeholder,
textarea.black-theme::placeholder {
  color: rgb(136, 136, 136)!important;
  opacity: 1;
}
input[type="text"].black-theme,
input[type="url"].black-theme,
input[type="password"].black-theme,
input[type="number"].black-theme,
textarea.black-theme {
  color: white!important;
  opacity: 1;
}
input[type="text"].spotify-setting,
input[type="password"].spotify-setting {
  width: 400px;
}

.password-container {
  position: relative;
}

.show-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(/static/files/images/eye.svg);
  background-size: cover;
  cursor: pointer;
}

.show-password.active {
  background-image: url(/static/files/images/eye-slash.svg);
}

/* style pour les checkboxes */
input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

/* style pour le bouton d'envoi */
input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* ajoute une transition pour une animation fluide */
}

/* effet hover */
input[type="submit"]:hover {
  background-color: #3e8e41;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* effet de click */
input[type="submit"]:active {
  background-color: #357a38;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
  
/* cible l'élément input et le placeholder */
input::placeholder {
  color: rgba(0,0,0,0.3); /* couleur du texte */
  opacity: 0.5; /* opacité */
}

.container-editmode {
  position: relative;
  right: -130; /* yeah ik */
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  width: 20px;
  height: 20px;
  color: #03104e;
  background-color: #abc5d6;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.edit-button {
  position: absolute;
  top: 0;
  right: 24px;
  margin: 5px;
  width: 20px;
  height: 20px;
  color: #03104e;
  background-color: #abc5d6;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


.add-button {
  position: relative;
  top: 0;
  right: 0;
  margin: 15px;
  width: 50px;
  height: 50px;
  color: black;
  background-color: #abc5d6;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


#swapEditorButton {
  position: fixed;
  bottom: 16;
  right: 16;
}

div.swapMode-open-folder {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  box-shadow: rgb(242, 242, 242) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  justify-content: center; /* alignement vertical */
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.25;

  min-height: 26px;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: absolute;
  z-index: 1;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: baseline;
  width: 26px;
  margin-left: 55px;
  margin-top: 65px;
}

form.selected {
  border: 8px ridge #508bff;
}


.checkbox {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  margin-right: 70px;
  margin-top: 20px;
}

.checkbox::before {
  content: "";
  display: none;
}

.checkbox-checked {
  background-color: #66bb6a;
}

.checkbox-checked::before {
  content: url(/static/files/images/checked.svg);
  display: inline-block;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  margin-top: 3px;
  margin-left: 2px;
}


button:focus, button:focus-visible {
  outline: none;
}

input.image-size-value {
  border: 1px solid #ccc;
  padding: 5px 5px;
  width: 60px;
}

form.args-form {
  display: flex;
  flex-direction: column;
}

div.editorStyle {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.editorStyle-bar {
  content: "";
  display: block;
  height: 1px;
  background-color: #d5d5d5;
  margin: 10px 0;
}
div.editorStyle-bar.black-theme {
  background-color: #515151!important;
}

div.background-color-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

input.background-color-input {
  position: relative;
  margin-right: 5px;
  height: 30;
}

div.choice {
  /* display: flex;
  flex-direction: row;
  align-items: flex-start; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

div.args_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.arg_container, .choices_ALL {
  width: -webkit-fill-available;
}

.webdeck_foldername {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}


svg.config-modal,
svg.addbutton-config-modal,
svg.addbutton-args-config-modal,
svg.editbutton-config-modal {
  fill: black;
}
svg.config-modal.black-theme,
svg.addbutton-config-modal.black-theme,
svg.addbutton-args-config-modal.black-theme,
svg.editbutton-config-modal.black-theme {
  fill:#fbfbfd!important;
}

.all-commands a, .all-choices a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.all-commands.black-theme a, .all-choices.black-theme a, .dropdown-btn.black-theme {
  color: #d1d1d1!important;
}

/* On mouse-over */
.all-commands a:hover, .all-choices a:hover, .dropdown-btn:hover {
  color: #7b7b7d;
}
.all-commands.black-theme a:hover, .all-choices.black-theme a:hover, .dropdown-btn.black-theme:hover {
  color: #fbfbfd!important;
}

/* Add an active class to the active dropdown button */
.active.black-theme {
  background-color: green;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  padding-left: 8px;
}
.dropdown-container.black-theme {
  background-color: #232323!important;
}

.dropdown-item-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.addbutton-description{
  position: relative;
  right: 40;
  text-align: end;
  color: rgb(110 110 110);
  font-size: 80%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.addbutton-description p {
  text-align: end;
  margin-left: -700;
  position: absolute;
  top: 8px;
}

.dropdown-btn:not(.no-dropdown):not(.active)::before,
.dropdown-btn.active:not(.no-dropdown)::before {
  content: url(/static/files/images/chevron_down.svg);
  margin-left: -6px;
  margin-right: 6px;
  display: inline-block;
}

.dropdown-btn:not(.no-dropdown):not(.active)::before {
  transform: rotate(-90deg);
}

.no-dropdown::before {
  content: url(/static/files/images/plus-circle2.svg);
  margin-left: -6px;
  margin-right: 6px;
}
.no-dropdown.black-theme::before {
  content: url(/static/files/images/plus-circle.svg)!important;
}


div.setting > p {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:after {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 6px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:after {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:after {
  border-radius: 50%;
}